---
- name: Update web, nfs and db servers
  hosts: webservers,nfs,db
  become: yes

  tasks:
    - name: Ensure wireshark is latest (RHEL)
      yum:
        name: wireshark
        state: latest
      when: ansible_os_family == "RedHat"

    - name: Ensure wireshark is latest (Ubuntu)
      apt:
        name: wireshark
        state: latest
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Create devops directory
      file:
        path: /opt/devops
        state: directory

    - name: Create info file
      file:
        path: /opt/devops/info.txt
        state: touch

    - name: Set timezone
      timezone:
        name: Africa/Lagos

- name: Update Load Balancer
  hosts: lb
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install wireshark
      apt:
        name: wireshark
        state: latest
